.drop-model{
	min-height: 50px;
	background-color: gray;
	border-width: 2px;
	align-items: center;
	padding-top: 20px;
	opacity: 0.7;
}
.drop-model:hover{
	opacity: 1;
}
.temp{
	margin: 60px 10px 5px 10px;
}
.top-p,
.max-t,
.freq-p,
.pres-p,
.cnt-size{
	margin: 0px 10px 5px 10px;
}
.gpu-l{
	margin: 0px 10px 5px 10px;
}